body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #e3e3e3;
    color: #fff;
}
.destaque, footer {
    font-style: italic;
}
h2 {
    font-size: 2em;
    text-decoration: underline;
}
#importante {
    border-top: 3px solid #e3e3e3;
    margin: 1em 0;
}
header, main, footer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em;
    margin: 0.5rem auto;
    box-shadow: 2px 2px 0 0 black;
    border-radius: 10px;
}
header > *, main > *, footer > * {
    flex: 1 1 auto;
    min-width: 0;
}
header, footer {
    margin: 1em;
    background: #373737;
}
main {
    margin: 0 1em;
    background: #555454;
}
footer {
    align-items: center;
}